
#apollo-logo {
    max-height: 250px;
}
/* 
.wrapper {
    background-color: black;
    width: 100%;
    height: 100%;
} */

/* BOTTOM NAVIGATION BAR */

/* Place the navbar at the bottom of the page, and make it stick */


/* BOTTOM NAVBAR */
